*{
    padding: 0;
    margin: 0;

}
body{
    background: url("img/bg-reigister.jpg");
    background-size: cover;
    
    

    
    
}
.main{
    background:linear-gradient(rgba(76, 88, 27, 0.5),rgba(172, 38, 47, 0.5));
}
div.main{
    width: 400px;
    margin: 40px auto 0px auto;

}


h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
div.register{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3) ;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    color: #fff;

}
form#register{
    margin: 40px;

}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

}
label,span,h2{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    
}
.register .container    {
    width: 50%;
    padding: 10px 15px;
    font-size: 18px;

}
.sum .h2{
    background:#141313;
    width: 97.4%;
}
.sum .h2 a{
    text-decoration: none;
    
    padding:10px 20px;
    color: #fff;
}
.sum .h2 a:hover{
    background: #b6062c;
}


